body,table {
	font-size: small;
	background-color: #FFFFFF;
}

a,a:VISITED{
	text-decoration: none;
	color: black;
	cursor: hand;cursor: pointer;
}

.headerPanel {
	background-color: #F1F1F1;
}
.footerPanel {
	padding-top: 5px;
	padding-left: 10px;
	background-color: #ffffff;
	border:dotted 1px #c3c3c3;
	text-decoration: none;
	color: black;
	cursor: hand;
}

