@CHARSET "ISO-8859-1";
.base{
	background-color: #ffffff;
	border-bottom: 0px solid #C0C0C0;
	padding-left:40px;
	padding-top: 20px;
}

@sprite .logo{
	gwt-image: 'logo';
	background-repeat: no-repeat;
	
}