@CHARSET "ISO-8859-1";
.base{
	background-color: #ffffff;
}
.workspace{
	background-color: #CCC;
	border :dotted 1.5px solid #000000;
}
@sprite .alignedMenu{
	gwt-image: 'amenu'';
}

@sprite .alignedMenuOff{
	gwt-image: 'amenuoff';
}

@sprite .alignedMenuBack{
	gwt-image: 'amenuback';
	background-repeat: repeat;
}

@sprite .leftCornerDown{
	gwt-image: 'leftcornerdown';
	background-repeat: no-repeat;
}

@sprite .leftCornerUp{
	gwt-image: 'leftcornertop';
	background-repeat: no-repeat;
}

@sprite .lineTop{
	gwt-image: 'lineTop';
	background-repeat: repeat;
}

@sprite .lineBottom{
	gwt-image: 'lineBottom';
	background-repeat: repeat;
}

lineBottom
 .topBorder{
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #DDDDDD;
    padding: 25px 20px 20px;
}
