<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- Servlets -->
  <servlet>
    <servlet-name>businessDocument</servlet-name>
    <servlet-class>org.noranj.formak.server.service.BusinessDocumentServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>businessDocument</servlet-name>
    <url-pattern>/formak/businessDocument</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>systemAdmin</servlet-name>
    <servlet-class>org.noranj.formak.server.service.SystemAdminServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>systemAdmin</servlet-name>
    <url-pattern>/formak/systemAdmin</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>partyService</servlet-name>
    <servlet-class>org.noranj.formak.server.service.PartyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>partyService</servlet-name>
    <url-pattern>/formak/partyService</url-pattern>
  </servlet-mapping>
  
 <!-- BA-2012-FEB-28 Added Login -->
  <!-- ===================== Login Google Servlet ===================== -->

  <servlet>
    <servlet-name>logingoogle</servlet-name>
    <servlet-class>org.noranj.formak.server.service.servlet.LoginGoogleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logingoogle</servlet-name>
    <url-pattern>/logingoogle</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logingooglecallback</servlet-name>
    <servlet-class>org.noranj.formak.server.service.servlet.LoginGoogleCallbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logingooglecallback</servlet-name>
    <url-pattern>/logingooglecallback</url-pattern>
  </servlet-mapping>
  

 <!-- BA-2012-FEB-28 Added the LoginFilter -->
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>org.noranj.formak.server.service.servlet.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/formak/businessDocument</url-pattern>
  </filter-mapping>

  <!-- Configure the namespace filter. -->
  <filter>
    <filter-name>NamespaceFilter</filter-name>
    <filter-class>org.noranj.formak.server.service.servlet.NamespaceFilter</filter-class>
    <init-param>
      <param-name>namespace-strategy</param-name>
      <!-- Change this to the desired strategy, see NamespaceFilter.NamespaceStrategy -->
      <!-- CLIENT_ID is the one that is used for all users of the system. -->
      <param-value>CLIENT_ID</param-value>
    </init-param>
  </filter>
  <filter-mapping>
      <filter-name>NamespaceFilter</filter-name>
      <url-pattern>/formak/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>Formak.html</welcome-file>
  </welcome-file-list>
  
</web-app>
