body,table {
	font-size: small;
	background-color: #F1F1F1;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #F1F1F1;
}
a,a:VISITED{
	text-decoration: none;
	color: black;
	cursor: hand;cursor: pointer;
}

.headerPanel {
	background-color: #F1F1F1;
}
.footerPanel {
	padding-top: 5px;
	padding-left: 10px;
	background-color: #F1F1F1;
	border:dotted 1px #c3c3c3;
	text-decoration: none;
	color: black;
	cursor: hand;
}

