@CHARSET "ISO-8859-1";
.base{
	background-color: #F1F1F1;
	border-left:dotted 1.5px solid #000000;
}

@sprite .stepbackactive {
			margin: 0px 0 0 30px;
			gwt-image: 'stepba';
			background-repeat:no-repeat;
			border: dotted q.5px solid #000000;
}
			